body {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: aliceblue;
}


#title {
    font-size: 35px;
    color: ghostwhite;
}

.header {
    background-color: #663399;

}

.entire_page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    margin: 0;
    height: 100vh;
}

.bottom_footer {
    height: 50px;
    background-color: #663399;
    
}
#text_editor_box{
  
   flex: 1;
   display:flex;
   align-items:center;
   justify-content:center;
   flex-direction:column;
}

#file_drop_down_list {
    max-width: 200px;
    
}

.text_editor_box{
    display: inline-flex;
    flex-direction:column;
    width: 75%;
    height: 75%;
    justify-content:space-between;

}

#main_editor_text_editor {
    flex-grow: 50;
   
}

#character_count_box {
    margin-right: 5%;
}

#save_as_file_name {
    max-width: 250px;
}
